<%- include('../partials/header.ejs') -%>

<section class="banner-section" style="background-image: url(/assets/img/banner.png);">
    <div class="container">
        <div class="banner-inner text-center">
            <h2 class="page-title">Your Cart</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="cart-page mt-120 rmt-80 mb-120 rmb-80">
    <div class="container">
        <div class="row col-gap-60">
            <div class="col-xl-8">
                <div class="cart-total-product rmb-80 b1 br-5 p-50">
                    <h4 class="cart-heading">Shopping Cart</h4>
                    <div class="cart-title d-none d-md-flex">
                        <h5 class="product-title">Product</h5>
                        <h5 class="quantity-title">Quantity</h5>
                        <h5 class="price-title">Price</h5>
                        <h5 class="total-title">Total</h5>
                    </div>
                    
                            
                        
                    <div class="cart-items pb-15">
                        <% if( cartArr && cartArr.length  ) {%>
                            <%cartArr.forEach(item => {%>
                        <div class="cart-single-item">
                            <button type="button" class="close"><i class="flaticon-cross"></i></button>
                            <div class="product-img">
                                <img src="/img/<%= item.item.avatar %>" alt="Product Image" />
                            </div>
                            <h6 class="product-name " id="productName" value="<%= item.item.title %>" ><%= item.item.title %> (1kg)</h6>
                            <div class="number-input">
                                <button class="minus"></button>
                                <input class="quantity" min="1" name="quantity" value="<%= item.qty %>" type="number" />
                                <button class="plus"></button>
                            </div>
                            <h6 class="product-price"><%= item.item.price %></h6>
                            <h6 class="product-total-price"><%= item.price %></h6>
                        </div>
                        
                            <%})%>
                        <%}%>
                        
                    </div>
                    <div class="row text-center text-lg-left">
                        <div class="col-lg-5">
                            <div class="continue-shopping">
                                <button class="theme-btn no-shadow bg-blue br-5" type="submit">Continue Shopping</button>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="update-shopping text-lg-right">
                                <a href="#" class="theme-btn no-shadow style-two br-10 rmt-30">Update Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="cart-total-price p-50">
                    <h4 class="cart-heading">Order Summary</h4>
                    <% if (cart) {%>
                    <div class="total-item-wrap">
                        <div class="total-item sub-total">
                            <span class="title">Total Item <%= cart.totalQty %></span>
                            <span class="price"><%= cart.totalPrice %></span>
                        </div>
                        <div class="total-item shipping">
                            <span class="title">Shipping Cost</span>
                            <span class="price">10</span>
                        </div>
                        <form action="#" class="d-lg-block">
                            <h6 class="mb-25 mt-30">Promo Code</h6>
                            <input class="w-100 br-5" type="text" placeholder="Enter Discount Code" />
                            <button class="theme-btn no-shadow bg-blue br-5" type="submit">Apply</button>
                        </form>
                        <div class="total-item discount">
                            <span class="title">Discount</span>
                            <span class="price">0</span>
                        </div>
                        <div class="total-item total">
                            <span class="title mb-0">Total</span>
                            <span class="price mb-0"><%= cart.totalPrice %></span>
                        </div>
                    </div>
                    <%}%>
                    <div class="proceed-btn mt-30">
                        <a  userID = "<%if(infoUser){%><%= infoUser._id %><%}%>" class="theme-btn w-100 text-center br-10 btnCheckOut">Proceed Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') -%>
<script>
    $(document).on('click','.btnCheckOut', function(e){
        let id = $(this).attr('userID');
        let productName = document.getElementById('productName');

        console.log({id, productName});
        if (!id){
            alert("Ban chua dang nhap, moi ban dang nhap de thanh toan");
            return window.location.href = '/customers/dang-nhap';
        }
        $.ajax({
            url:`/customers/check-out`,

        })
    })
    
    
</script>